<div ng-controller="dataController" ng-init='getSingle("api/users.php")'>
	<h1>View user {{data.username}}</h1>
	<table>
		<tr>
			<td>
				username:
			</td>
			<td>
				{{data.username}}
			</td>
		</tr>
		<tr>
			<td>
				rank:
			</td>
			<td>
				{{data.rank}}
			</td>
		</tr>
		<tr>
			<td>
				belongs to groups:
			</td>
			<td>
				<table>
					<tr ng-repeat="group in data.groups"> 
						<td>
							<a href="#/groups/{{group.id}}">{{group.name}}</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				Folders owned:
			</td>
			<td>
				<table>
					<tr ng-repeat="folder in data.folders_owned"> 
						<td>
							<a href="#/folders/{{folder.id}}">{{folder.name}}</a>
						</td>
					</tr>
					<tr>
						<td>
							<span ng-show='data.folders_owned.length==0'>none</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				can access folders:
			</td>
			<td>
				<table>
					<tr ng-repeat="folder in data.folders"> 
						<td>
							<a href="#/folders/{{folder.id}}">{{folder.name}}</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<h2>
		Add to group:
	</h2>
	<div ng-controller="dataController" ng-init="setSource('api/groups.php'); console.log('lol'); console.log(params); ">	
		<select ng-model='params.group_id'>
			<option ng-repeat='group in data' value="{{group.id}}">{{group.name}}</option>
		</select>	
		<input type='submit' ng-click='params.user_id = $parent.data.id; post("api/actions/assign_user.php", params)'>
	</div>	
</div>