  * {
  margin: 0px;
  padding: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}


a {
  color: rgb(60, 94, 202);
  text-decoration: none;
}


/* body
-----------------------------------------------------------------------------*/
body {
  font: 12px Verdana;
  background-color: #F0F0F2;
  width: 100%;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

tr{
  transition: all 200ms;
}

td{
  padding: 3px 14px;
}

.content{
  top: 24px;
  flex:1 800px;
  padding:30px;
}

.navigation{
  flex: 0 176px;
  font-size: 1rem;
  padding-top: 35px;
  padding-left: 34px;
}

.navigation li{
  margin:10px;
}

.new_line { 
  padding: 2px 0; 
}


.layer{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  opacity: 1;
  border: 16px solid #FFFFFF;
  border-radius: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px -2px 51px 0px #D9D9D9;
  -webkit-box-shadow: 0px -2px 51px 0px #D9D9D9;
  -moz-box-shadow: 0px -2px 51px 0px #D9D9D9;
  -ms-box-shadow: 0px -2px 51px 0px #D9D9D9;
  -o-box-shadow: 0px -2px 51px 0px #D9D9D9;
}