<!DOCTYPE html>
<html>
 	<link rel="stylesheet" type="text/css" href="../style.css" />
<body>


<div class="content">
<div class="layer">

<div class="new_line">
<div ng-controller='dataController' ng-init="setSource('api/categories.php')">
	<p>categories</p>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>id</th>
	  <th>name</th>
	  <th>parent_id</th>
	  <th>utwory</th>
	</tr>
	<tr ng-repeat='category in data'>
		<td>{{category.id}}</td>
		<td>{{category.name}}</td>
		<td>{{category.parent_id}}</td>

		<td>
			<table>
				<tr ng-repeat='piece in category.pieces'>
					<td>{{piece.id}}</td> 
					<td>{{piece.tytul}}</td>
					<td>{{piece.composer_id}}</td>
					<td>{{piece.category_id}}</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>


	</div>
	</div>
	</div>
</body>
</html>