<!DOCTYPE html>
<html>
<body>

<div ng-controller='dataController' ng-init="setSource('api/categories.php')">
	<h2>categories</h2>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>id</th>
	  <th>name</th>
	  <th>parent_id</th>
	  <th>utwory</th>
	</tr>
	<tr ng-repeat='category in data'>
		<td>{{category.id}}</td>
		<td><a href="#/categories/{{category.id}}">{{category.name}}</a></td>
		<td>{{category.parent_id}}</td>

		<td>
			<table>
				<tr ng-repeat='piece in category.pieces'>
					<td>{{piece.id}}</td> 
					<td><a href="#/pieces/{{piece.id}}">{{piece.tytul}}</a></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
	<h2>
		Create category:
	</h2>
	<input placeholder='name' ng-model='params.name'><br/>
	parent_id:
	<select ng-model='params.parent_id'>
		<option ng-repeat='category in data' value='{{category.id}}'>{{category.name}}</option>
	</select>
	<button ng-click='post("api/actions/create_category.php", params)'>create</button>
</body>
</html>