<!DOCTYPE html>
<html>
<body>

<div ng-controller='dataController' ng-init="setSource('api/composers.php')">
	<h2>composers</h2>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>id</th>
	  <th>name</th>
	  <th>utwory</th>
	</tr>
	<tr ng-repeat='composer in data'>
		<td>{{composer.id}}</td>
		<td><a href="#/composers/{{composer.id}}">{{composer.name}}</a></td>
		<td>
			<table>
				<tr ng-repeat='piece in composer.pieces'>
					<td>{{piece.id}}</td> 
					<td>{{piece.tytul}}</td>
					<td>{{piece.composer_id}}</td>
					<td>{{piece.category_id}}</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
	<h2>
		Create new composer
	</h2>
	<input placeholder="name" ng-model='params.name'>
	<button ng-click='post("api/actions/create_composer.php", params)'>create</button>
</body>
</html>