<!DOCTYPE html>
<html>
 	<link rel="stylesheet" type="text/css" href="../style.css" />
<body>


<div class="content">
<div class="layer">

<div class="new_line">
<div ng-controller='dataController' ng-init="setSource('api/files.php')">
	<p>files</p>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>id</th>
	  <th>piece_id</th>
	  <th>name</th>
	  <th>type</th>
	</tr>
	<tr ng-repeat='file in data'>
		<td>{{file.id}}</td>
		<td>{{file.piece_id}}</td>
		<td>{{file.name}}</td>
		<td>{{file.type}}</td>
		<td>
			<table>
				<tr>
					<td>{{file.piece[0].id}}</td>
					<td>{{file.piece[0].tytul}}</td>
					<td>{{file.piece[0].composer_id}}</td>
					<td>{{file.piece[0].category_id}}</td>
				</tr>
			</table>
			<table>
				<tr ng-repeat='version in file.versions'>
					<td>{{version.id}}</td>
					<td>{{version.file_id}}</td>
					<td>{{version.download_amount}}</td>
					<td>{{version.location}}</td>
					<td>{{version.time_created}}</td>
					<td>{{version.user_id}}</td>
					<td>{{version.potwierdzony}}</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>

	</div>
	</div>
	</div>
</body>
</html>