<!DOCTYPE html>
<html>
<body>

<div ng-controller='dataController' ng-init="setSource('api/groups.php')">
	<p>lista grup</p>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
		<th>group_id</th>
		<th>group_name</th>
		<th>users</th>
		<th>folders</th>
	</tr>
		
	<!-- new row -->
	<tr ng-repeat='group in data'>
	<td>{{group.id}}</td>
	<td>{{group.name}}</td>
	<td>
		<table>
			<!-- user 1 -->
			<tr ng-repeat='user in group.users'>
				<td>{{user.username}}</td>
			</tr>

		</table>
	</td>
	<td>
		<table>
			<!-- folder 1 -->
			<tr ng-repeat='folder in group.folders'>
				<td>{{folder.name}}</td>
			</tr>

		</tabl
	</td>
	</tr>


	</table>

</body>
</html>