<!DOCTYPE html>
<html>
<body>

<div ng-controller='dataController' ng-init="setSource('api/users.php')">
	<h2>lista uzytkownikow</h2>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>user</th>
	  <th>rank</th>
	  <th>group</th>
	</tr>
	<tr ng-repeat='user in data'>
		<td><a href="#/users/{{user.id}}">{{user.username}}</a></td>
		<td>{{user.rank}}</td>
		<td>
			<table>
				<tr ng-repeat='group in user.groups'>
					<td>{{group.group_id}}</td> 
					<td><a href="#/groups/{{group.group_id}}">{{group.group_name}}</a></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>

</body>
</html>