<!DOCTYPE html>
<html>
<body>

<div ng-controller='dataController' ng-init="setSource('api/users.php')">
	<h2>All users:</h2>
	<table border="1" style="border-collapse:collapse;">
	<!-- general header row -->
	<tr>
	  <th>user</th>
	  <th>rank</th>
	  <th>group</th>
	</tr>
	<tr ng-repeat='user in data'>
		<td><a href="#/users/{{user.id}}">{{user.username}}</a></td>
		<td>{{user.rank}}</td>
		<td>
			<table>
				<tr ng-repeat='group in user.groups'>
					<!--<td>{{group.id}}</td> -->
					<td><a href="#/groups/{{group.id}}">{{group.name}}</a></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
	<h2>
		Create new user:
	</h2>
	<input ng-model='params.username' placeholder='username'>
	<input ng-model='params.password' placeholder='password' type='password'>
	<button ng-click='post("api/actions/create_user.php", params)'>create</button>

</body>
</html>